# FastAPI
fastapi
uvicorn
python-multipart

# Schema
pydantic[email]
pydantic-settings

# Database
sqlalchemy

# Database Migrations
alembic

# Encrypt
passlib[bcrypt]

# JWT
python-jose[cryptography]

# Configuration
omegaconf
